In [1]:
from utils import load_data, check_gpu, check_dir

import pandas as pd
import numpy as np
from tqdm import tqdm
import gc
from utils import meta_encoding
from functools import partial
import matplotlib.pyplot as plt

import datetime
pd.options.display.max_colwidth = 1000
%matplotlib inline
%load_ext autoreload
%autoreload 2
def fprint(df, name):
    print(f'{name} shape: ({df.shape[0]:,}, {df.shape[1]})')
import pprint
pp = pprint.PrettyPrinter(indent=1)

### Check clean data

In [9]:
train_cleaned = pd.read_parquet('gbm_cache/preprocess_train_1000000_no_test_added.snappy')

In [3]:
train_raw = load_data('train', nrows=1000000)

[06-07 16:41:15 - utils-111 - load_data - INFO] Loading train using 1,000,000 rows (999,995 trimmed) which is 6.28% out of total train data

In [4]:
train_ids = train_raw.session_id.unique()

In [19]:
rid = np.random.choice(train_ids, 1)[0]
rid

'b8ad97aa9a206'

In [20]:
# raw
train_raw[train_raw.session_id==rid].head()

,user_id,session_id,timestamp,step,action_type,reference,platform,city,device,current_filters,impressions,prices
819801,699E5SZX34AJ,b8ad97aa9a206,1541200812,1,search for item,111925,AU,"Kuta, Indonesia",desktop,NaN,NaN,NaN
819802,699E5SZX34AJ,b8ad97aa9a206,1541200835,2,clickout item,111925,AU,"Kuta, Indonesia",desktop,NaN,111925|104163|99563|114598|823931|1289618|1353992|1369129|3150422|4569310|1016699|2634040|97907|104122|3866722|1357232|1016731|2318446|99560|96275|1081268|2420384|122633|344371|880943,36|66|114|80|196|157|178|417|181|324|121|152|173|267|57|112|12|104|102|46|134|236|78|128|330
819803,699E5SZX34AJ,b8ad97aa9a206,1541201688,3,interaction item deals,111925,AU,"Kuta, Indonesia",desktop,NaN,NaN,NaN

In [21]:
# clean
train_cleaned[train_cleaned.session_id==rid].head()

,session_id,timestamp,step,action_type,current_filters,reference,impressions,prices,country,device,platform
233752,b8ad97aa9a206,2018-11-02 23:20:12,1.0,2,None,111925,None,None,18,0,12
233753,b8ad97aa9a206,2018-11-02 23:20:35,2.0,0,None,111925,111925|104163|99563|114598|823931|1289618|1353992|1369129|3150422|4569310|1016699|2634040|97907|104122|3866722|1357232|1016731|2318446|99560|96275|1081268|2420384|122633|344371|880943,36|66|114|80|196|157|178|417|181|324|121|152|173|267|57|112|12|104|102|46|134|236|78|128|330,18,0,12

In [8]:
train_cleaned.action_type.head()

0    1.0
1    1.0
2    2.0
3    0.0
4    0.0
Name: action_type, dtype: float64

In [25]:
# check current filters
cfs_ids = train_cleaned[train_cleaned.current_filters.notna()].session_id.unique()

### Check feature generations

In [32]:
train_cleaned[train_cleaned.session_id==np.random.choice(cfs_ids, 1)[0]]

,session_id,timestamp,step,action_type,current_filters,reference,impressions,prices,country,device,platform
300567,ef019b0fd74f0,2018-11-06 14:04:05,1.0,2,None,97590,None,None,94,2,3
300568,ef019b0fd74f0,2018-11-06 14:04:07,2.0,2,None,97590,None,None,94,2,3
300569,ef019b0fd74f0,2018-11-06 14:04:17,8.0,2,None,97590,None,None,94,2,3
300570,ef019b0fd74f0,2018-11-06 14:04:27,17.0,2,None,97590,None,None,94,2,3
300571,ef019b0fd74f0,2018-11-06 14:04:37,29.0,2,None,97590,None,None,94,2,3
300572,ef019b0fd74f0,2018-11-06 14:04:47,31.0,2,None,97590,None,None,94,2,3
300573,ef019b0fd74f0,2018-11-06 14:05:25,33.0,2,None,3498974,None,None,94,2,3
300574,ef019b0fd74f0,2018-11-06 14:05:35,37.0,2,None,3498974,None,None,94,2,3
300575,ef019b0fd74f0,2018-11-06 14:05:45,47.0,2,None,3498974,None,None,94,2,3
300576,ef019b0fd74f0,2018-11-06 14:05:55,56.0,2,None,3498974,None,None,94,2,3
300577,ef019b0fd74f0,2018-11-06 14:06:05,60.0,2,None,3498974,None,None,94,2,3
300578,ef019b0fd74f0,2018-11-06 14:06:32,62.0,2,None,3498974,None,None,94,2,3
300579,ef019b0fd74f0,2018-11-06 14:06:42,65.0,2,None,3498974,None,None,94,2,3
300580,ef019b0fd74f0,2018-11-06 14:07:04,67.0,2,None,10383470,None,None,94,2,3
300581,ef019b0fd74f0,2018-11-06 14:07:14,76.0,2,None,10383470,None,None,94,2,3
300582,ef019b0fd74f0,2018-11-06 14:07:35,77.0,1,None,"Doha, Qatar",None,None,94,2,3
300583,ef019b0fd74f0,2018-11-06 14:07:54,78.0,2,None,3498974,None,None,94,2,3
300584,ef019b0fd74f0,2018-11-06 14:07:54,79.0,2,None,97590,None,None,94,2,3
300585,ef019b0fd74f0,2018-11-06 14:07:54,80.0,2,None,10383470,None,None,94,2,3
300586,ef019b0fd74f0,2018-11-06 14:07:54,81.0,3,Hotel|Resort,Hotel,None,None,94,2,3
300587,ef019b0fd74f0,2018-11-06 14:07:54,82.0,3,Hotel|Resort,Resort,None,None,94,2,3
300588,ef019b0fd74f0,2018-11-06 14:07:55,83.0,3,Hotel|Resort|5 Star,5 Star,None,None,94,2,3
300589,ef019b0fd74f0,2018-11-06 14:07:56,84.0,2,None,10383470,None,None,94,2,3
300590,ef019b0fd74f0,2018-11-06 14:07:56,85.0,2,None,3498974,None,None,94,2,3
300591,ef019b0fd74f0,2018-11-06 14:07:56,86.0,3,Hotel|Resort|5 Star|4 Star,4 Star,None,None,94,2,3
300592,ef019b0fd74f0,2018-11-06 14:07:57,87.0,2,None,97590,None,None,94,2,3
300593,ef019b0fd74f0,2018-11-06 14:07:57,88.0,2,None,3498974,None,None,94,2,3
300594,ef019b0fd74f0,2018-11-06 14:07:57,89.0,2,None,10383470,None,None,94,2,3
300595,ef019b0fd74f0,2018-11-06 14:08:00,90.0,0,Hotel|Resort|5 Star,1954381,1954381|1875651|1535497|3521130|3183080|100176|3498974|2628765|4342960|941725|348036|10383470|2129056|942125|3767410|348041|1955605|95041|2145270|1450953|1105468|100175|6045472|348011|2129054,158|193|74|55|69|93|195|52|121|153|86|92|228|37|135|181|132|180|60|144|162|189|119|81|121,94,2,3
300596,ef019b0fd74f0,2018-11-06 14:08:06,91.0,2,None,3498974,None,None,94,2,3
...,...,...,...,...,...,...,...,...,...,...,...
300601,ef019b0fd74f0,2018-11-06 14:09:05,111.0,2,None,100176,None,None,94,2,3
300602,ef019b0fd74f0,2018-11-06 14:09:15,112.0,2,None,3498974,None,None,94,2,3
300603,ef019b0fd74f0,2018-11-06 14:09:36,114.0,2,None,2628765,None,None,94,2,3
300604,ef019b0fd74f0,2018-11-06 14:09:46,122.0,2,None,2628765,None,None,94,2,3
300605,ef019b0fd74f0,2018-11-06 14:09:56,130.0,2,None,2628765,None,None,94,2,3
300606,ef019b0fd74f0,2018-11-06 14:10:06,138.0,2,None,2628765,None,None,94,2,3
300607,ef019b0fd74f0,2018-11-06 14:10:16,143.0,2,None,2628765,None,None,94,2,3
300608,ef019b0fd74f0,2018-11-06 14:10:37,145.0,2,None,2129056,None,None,94,2,3
300609,ef019b0fd74f0,2018-11-06 14:10:47,154.0,2,None,2129056,None,None,94,2,3
300610,ef019b0fd74f0,2018-11-06 14:10:57,163.0,2,None,2129056,None,None,94,2,3
300611,ef019b0fd74f0,2018-11-06 14:11:07,165.0,2,None,348041,None,None,94,2,3
300612,ef019b0fd74f0,2018-11-06 14:11:17,170.0,2,None,348041,None,None,94,2,3
300613,ef019b0fd74f0,2018-11-06 14:11:27,174.0,2,None,348041,None,None,94,2,3
300614,ef019b0fd74f0,2018-11-06 14:11:37,178.0,2,None,95041,None,None,94,2,3
300615,ef019b0fd74f0,2018-11-06 14:11:47,182.0,2,None,95041,None,None,94,2,3
300616,ef019b0fd74f0,2018-11-06 14:11:57,193.0,2,None,95041,None,None,94,2,3
300617,ef019b0fd74f0,2018-11-06 14:12:07,197.0,2,None,95041,None,None,94,2,3
300618,ef019b0fd74f0,2018-11-06 14:12:17,199.0,2,None,1450953,None,None,94,2,3
300619,ef019b0fd74f0,2018-11-06 14:12:27,203.0,2,None,1450953,None,None,94,2,3
300620,ef019b0fd74f0,2018-11-06 14:12:37,211.0,2,None,1450953,None,None,94,2,3
300621,ef019b0fd74f0,2018-11-06 14:12:47,215.0,2,None,1450953,None,None,94,2,3
300622,ef019b0fd74f0,2018-11-06 14:12:57,216.0,2,None,1450953,None,None,94,2,3
300623,ef019b0fd74f0,2018-11-06 14:19:15,217.0,2,None,2628765,None,None,94,2,3
300624,ef019b0fd74f0,2018-11-06 14:19:15,218.0,2,None,348041,None,None,94,2,3
300625,ef019b0fd74f0,2018-11-06 14:19:15,219.0,2,None,10383470,None,None,94,2,3
300626,ef019b0fd74f0,2018-11-06 14:19:15,220.0,2,None,100176,None,None,94,2,3
300627,ef019b0fd74f0,2018-11-06 14:19:15,221.0,2,None,2129056,None,None,94,2,3
300628,ef019b0fd74f0,2018-11-06 14:19:15,222.0,2,None,95041,None,None,94,2,3
300629,ef019b0fd74f0,2018-11-06 14:19:25,224.0,2,None,3498974,None,None,94,2,3
300630,ef019b0fd74f0,2018-11-06 14:19:26,225.0,0,Hotel|Resort|5 Star,3498974,1875651|1535497|3521130|100175|100176|3498974|2628765|1954381|4342960|941725|3183080|348041|348036|3767410|10383470|2129056|942125|1955605|2145270|1450953|1105468|95041|6045472|348011|3519978,193|74|55|189|93|195|52|158|121|153|69|181|86|135|92|228|37|132|60|144|162|180|119|81|238,94,2,3