In [1]:
from utils import load_data, check_gpu, check_dir
from clean_session import preprocess_sessions
import pandas as pd
import numpy as np
from ast import literal_eval

from tqdm import tqdm
import gc
from functools import partial
import matplotlib.pyplot as plt
from clean_session import preprocess_sessions
from create_model_inputs import prepare_data, compute_session_fts, create_model_inputs
import datetime
%matplotlib inline
%load_ext autoreload
%autoreload 2
def fprint(df, name):
    print(f'{name} shape: ({df.shape[0]:,}, {df.shape[1]})')
import pprint
pp = pprint.PrettyPrinter(indent=1)

In [3]:
nrows = 1000000
train = prepare_data('train', convert_action_type=False, nrows=nrows, recompute=False)
df = compute_session_fts(train, 'train')

In [ ]:
df = df.groupby('session_id').last().reset_index()
# df['session_id_size'] = np.log(df['session_id_size'])
# df['cfs'] = df['current_filters_last_filters'].str.lower().str.split('|')

# df['prices'] = df['prices'].str.split('|')
# df['prices'] = df['prices'].apply(lambda x: [int(p) for p in x])

# df['time_steps'] = df['prices'].str.len()
# padding_mask = df['time_steps'] < 25
# df.loc[padding_mask, 'prices'] = df.loc[padding_mask, 'prices'].apply(lambda x: np.pad(x, (0, 25-len(x)),
#                                                                                        mode='constant'))
df['imps'] = df['impressions'].str.split('|')
df['imps'] = df['imps'].apply(lambda x: [int(i) for i in x])
# df.loc[padding_mask, 'impressions'] = (df.loc[padding_mask, 'impressions']
#                                          .apply(lambda x: np.pad(x, (0, 25-len(x)),mode='constant')))
df['reference'] = df['reference'].astype(int)
# filter out nan rows with reference_id not in impressions list, since if the true target in test
# is not in the impression list then it would not get evaluated
def assign_target(row):
    ref = row['reference']
    imp = list(row['imps'])
    if ref in imp:
        return imp.index(ref)
    else:
        return np.nan

df['target'] = df.apply(assign_target, axis=1)
# drop the ones whose reference is not in the impression list
df = df[df['target'].notna()].reset_index(drop=True)
df['target'] = df['target'].astype(int)
# def assign_last_ref_id(row, divide=True):
#     ref = row['reference_last_reference_id']
#     # although reference_id got converted to int, but the reference_last_reference_id was calculated
#     # when it was still str value, so here we look up the index in str of impressions
#     imp = [str(i) for i in row['imps']]

#     if pd.isna(ref):
#         return np.nan
#     else:
#         if ref in imp:
#             if divide:
#                 return (imp.index(ref) + 1) / len(imp)
#             else:
#                 return imp.index(ref) + 1
#         else:
#             return np.nan
# assign_last_ref_id_func = partial(assign_last_ref_id, divide=False)
# df['last_ref_ind'] = df.apply(assign_last_ref_id_func, axis=1)

### comapre session with size 1 and the rest

In [ ]:
df.head(2)

In [ ]:
ones = df[df['session_id_size']==1].reset_index(drop=True)
multiples = df[df['session_id_size']>1].reset_index(drop=True)

In [ ]:
oids = ones['session_id'].unique()
mids = multiples['session_id'].unique()

In [ ]:
df[df.session_id=='0000059a39020']

---
### ones

In [ ]:
display_cols = ['session_id', 'step', 'action_type', 'current_filters', 'reference', 'timestamp',
                'impressions', 'prices', 'target', 'session_id_size']
raw_display_cols = [c for c in train.columns if c in display_cols]

In [ ]:
pd.options.display.max_colwidth = 100

In [ ]:
one_rid = np.random.choice(oids, 1)[0]
print(one_rid)
df[df.session_id==one_rid][display_cols].reset_index(drop=True)

In [ ]:
# df[df.session_id==one_rid][display_cols].reset_index(drop=True).to_dict(orient='list')

In [ ]:
from colorama import Fore
dic = df[df.session_id==one_rid][display_cols].reset_index(drop=True).to_dict(orient='list')
prices = dic['prices'][0].split('|')
ref = str(dic['reference'][0])
imps = dic['impressions'][0].split('|')
# prices[imps.index(ref)] = f'{Fore.RED} {prices[imps.index(ref)]}' #{test_id}
prices[imps.index(ref)] = f'==={prices[imps.index(ref)]}===' #{test_id}
dic['prices'] = '|'.join(prices)
pp.pprint(dic)
# print(dic['prices'])

In [ ]:
print(f'{Fore.RED}{prices[imps.index(ref)]}')

In [ ]:
# # and the raw
# train[train.session_id==one_rid][raw_display_cols].reset_index(drop=True)

In [ ]:
# pp.pprint(train[train.session_id==one_rid][raw_display_cols].reset_index(drop=True).to_dict(orient='list'))

---
### Longer

In [ ]:
mid_rid = np.random.choice(mids, 1)[0]
print(mid_rid)
# df[df.session_id==mid_rid][display_cols].reset_index(drop=True)

In [ ]:
np.sort([int(i) for i in df[df.session_id==mid_rid]['prices'].str.split('|').values[0]])

In [ ]:
# pp.pprint(df[df.session_id==mid_rid][display_cols].reset_index(drop=True).to_dict(orient='list'))

In [ ]:
# the raw
train[train.session_id==mid_rid][raw_display_cols].reset_index(drop=True)

In [ ]:
pp.pprint(train[train.session_id==mid_rid][raw_display_cols].reset_index(drop=True).to_dict(orient='list'))

In [ ]:
# dup_mask = train[[c for c in train.columns if c not in ['timestamp', 'step']]].duplicated(keep=False)
# dup_mask.sum()

In [ ]:
# dup_cols = [c for c in train.columns if c not in ['timestamp', 'step']]
# # train[dup_cols].loc[train[dup_cols].shift(-1) != train[dup_cols]]
# train.groupby(dup_cols).apply(lambda x: )

In [ ]:
train.shape

In [ ]:
99508/train.shape[0]

### Look at test set
---

In [ ]:
test = load_data('tedt')

---
### Click-encodings

In [ ]:
from create_model_inputs import click_view_encoding
_ = click_view_encoding(sids=None, fold='testing', m=5)

In [ ]:
cv_enc = pd.read_csv('./cache/foldtesting_clickview_encodings.csv')

In [ ]:
cv_enc.shape

In [ ]:
cv_enc['clicked'].hist(bins=100)

---
### clickouts

In [ ]:
%%time
df = load_data('train', usecols=['session_id', 'action_type', 'impressions', 'reference'])

In [ ]:
df.shape

In [ ]:
df = df.drop_duplicates(subset=[c for c in df.columns if c != 'step']).reset_index(drop=True)

In [ ]:
df.shape

In [ ]:
%%time
# filter away sessions do not have clickout
def filter_away(df):
    return (df.action_type=='clickout item').sum() > 0
fids = df.groupby('session_id').apply(filter_away)

In [ ]:
df_has = df[df.session_id.isin(fids[fids].index)]

In [ ]:
df_has.shape

In [ ]:
# number of clickout rows
(df_has.action_type == 'clickout item').sum()

In [ ]:
last_df_has = df_has.groupby('session_id').last().reset_index()

In [ ]:
last_df_has.shape

In [ ]:
# average number of clickout per session
ctns = df_has[df_has.action_type=='clickout item'].groupby('session_id')['session_id'].size()

In [ ]:
ctns.head()

In [ ]:
s = df_has.groupby('session_id')['session_id'].size()

In [ ]:
s.head()

In [ ]:
# avg_clickout = ctns/s

In [ ]:
# avg_clickout.hist(bins=100)

In [ ]:
np.log(ctns).hist(bins=100)

In [ ]:
ctn

In [62]:
from datetime import datetime as dt
current_time = dt.now().strftime('%m-%d-%M')

In [63]:
current_time

'05-29-27'

In [2]:
sub = pd.read_csv('./subs/test_sub.csv')

In [46]:
sub = pd.read_csv('./subs/cat_sub_05-29.csv')

In [3]:
sub.head()

      session_id                                        impressions
0  0000059a39020  [2251200, 924581, 4775012, 10090928, 2282660, ...
1  000243bb22a50  [49536, 149808, 2418418, 1122314, 149795, 5502...
2  000356259e25a  [948643, 34338, 18230, 100302, 1538159, 42402,...
3  000356259e25a  [948643, 34338, 18230, 100302, 1538159, 42402,...
4  000356259e25a  [948643, 34338, 18230, 100302, 1538159, 42402,...

In [43]:
sub.shape

(486635, 3)

In [7]:
sub.loc[:, 'impressions'] = sub.loc[:, 'impressions'].apply(lambda x: literal_eval(x))

In [44]:
sub.iloc[0]

Unnamed: 0                                                     0
session_id                                         0000059a39020
impressions    [2251200, 924581, 4775012, 10090928, 2282660, ...
Name: 0, dtype: object

In [9]:
sub.iloc[0].impressions[0]

2251200

In [39]:
# from ast import literal_eval
# def convert2list(x):
# #     print('\n\n', x) 
# #     print(literal_eval(x), '\n\n')
#     try:
#         return literal_eval(x)
#     except:
#         return x.strip('([|])').split()
# test_sub.loc[:, 'impressions'] = test_sub.loc[:, 'impressions'].apply(convert2list)

In [49]:
s  = pd.read_csv('./data/submission_popular.csv')

In [5]:
s.shape

(253573, 5)

In [53]:
pd.options.display.max_colwidth=1000

In [54]:
s.head()

,user_id,session_id,timestamp,step,item_recommendations
0,000324D9BBUC,89643988fdbfb,1541593942,10,924795 106315 1033140 119494 101758 903037 1050792 97171 353141 2094950 923407 106307 1000915 97170 147907 1838901 1729121 2182130 904851 927351 4234718 2358690 2431104 1241375 152107
1,0004Q49X39PY,9de47d9a66494,1541641157,1,3505150 3812004 2227896 2292254 3184842 2227026 8153310 10213134 320746 2213014 1978919 4504242 1012049 595506 1953665 4486372 3508724 1984229 3202894 2714500 3202412 1987127 2714480 7769010 2712428
2,0004Q49X39PY,beea5c27030cb,1541561202,1,4476010 3505150 3812004 2227896 2292254 2227026 1736323 2926933 9343000 7101352 1953665 1984229 7984902 10024490 3202894 2508850 3843244 5052004 7794970 3766088 3823768 2712428 9017272 5497362 6030666
3,00071784XQ6B,9617600e1ba7c,1541630328,2,22854 3067559 22721 22713 16121 22772 22727 22764 150882 22716 150825 22714 22711 22798 45096 4082698 102569 5889794 102568 1478189 22819 22797 22705 22848 3498754
4,0008BO33KUQ0,2d0e2102ee0dc,1541636411,6,9857656 5849628 655716 1352530 502066 1405084 2176280 507861 2143854 4342348 1241177 1669587 6451832 977727 6147882 1008737 4272108 3133206 1887759 1830637 3133204 4984730 1888653 1944129 1496381

In [55]:
sub.head()

,user_id,session_id,timestamp,step,item_recommendations
0,P2L70S1Y60IF,0000059a39020,1541719950,1,2251200 924581 895299 10090928 4775012 2282660 1042070 904419 4393408 716761 9327438 494271 1725409 1574393 9814964 449646 494591 1255814 1725407 1532985 106496 1552635 1552439 394496 103453
1,SKDEGHT3I151,0000b9394297b,1541606244,2,1044228 5670638 5078576 6033244 6739860 11245146 7917004 5875672 2253886 5483610 7731204 10075218 6040960 6706660 9803684 8111266 8314306 0 7672042 0 0 0 0 0 0
2,V3SQM6X57BNX,0001650138d30,1541614783,1,44394 44247 44103 44155 44404 43972 44292 1322086 44288 843686 974755 44496 44421 44391 1253177 44904 43995 138567 43764 1285738 914037 101050 44289 44101 43959
3,13UA01X5MOHZ,000177b850519,1541574580,4,17011 17266 16122 17403 17295 17535 17040 17578 153593 1218858 4897876 16831 2232136 2612598 1977627 16842 3188920 17579 85123 17028 2881132 5050146 9117602 6001568 3140558
4,K0LALBSISIAC,00017b3b2c136,1541565393,11,6698142 6298194 7952264 5717238 2859570 2811944 3984784 5723818 7240314 4341718 9187692 401776 2810449 4277618 8175520 9672594 509856 5486494 2565452 1101646 7198288 2224450 1122702 3492498 1946813

In [56]:
sub[sub.session_id=='89643988fdbfb']

,user_id,session_id,timestamp,step,item_recommendations
136070,000324D9BBUC,89643988fdbfb,1541593942,10,1241375 923407 119494 152107 147907 101758 1729121 1050792 2182130 4234718 97171 353141 927351 1000915 2094950 106307 1033140 106315 1838901 924795 2358690 904851 903037 2431104 97170

In [57]:
to_sub = sub.groupby('session_id').last().reset_index()

In [9]:
to_sub.shape

(253573, 5)

In [10]:
to_sub.shape

(253573, 5)

In [11]:
to_sub.head()

,session_id,user_id,timestamp,step,item_recommendations
0,0000059a39020,P2L70S1Y60IF,1541719950,1,"[2251200, 924581, 4775012, 10090928, 2282660, ..."
1,0000b9394297b,SKDEGHT3I151,1541606244,2,[ 1044228 5670638 5875672 6033244 7917004 ...
2,0001650138d30,V3SQM6X57BNX,1541614783,1,"[44394, 44103, 44247, 44155, 43972, 44292, 444..."
3,000177b850519,13UA01X5MOHZ,1541574580,4,"[17011, 16122, 17403, 17040, 17266, 17295, 175..."
4,00017b3b2c136,K0LALBSISIAC,1541565393,11,"0 0 0 0 0 0 0 [5723818, 4341718, 6298194, 6698..."

In [12]:
s.head()

,user_id,session_id,timestamp,step,item_recommendations
0,000324D9BBUC,89643988fdbfb,1541593942,10,924795 106315 1033140 119494 101758 903037 105...
1,0004Q49X39PY,9de47d9a66494,1541641157,1,3505150 3812004 2227896 2292254 3184842 222702...
2,0004Q49X39PY,beea5c27030cb,1541561202,1,4476010 3505150 3812004 2227896 2292254 222702...
3,00071784XQ6B,9617600e1ba7c,1541630328,2,22854 3067559 22721 22713 16121 22772 22727 22...
4,0008BO33KUQ0,2d0e2102ee0dc,1541636411,6,9857656 5849628 655716 1352530 502066 1405084 ...

In [13]:
s[s.session_id=='0000059a39020']

,user_id,session_id,timestamp,step,item_recommendations
182944,P2L70S1Y60IF,0000059a39020,1541719950,1,1042070 106496 895299 394496 494271 716761 125...

In [15]:
to_sub.iloc[4].item_recommendations

'0 0 0 0 0 0 0 [5723818, 4341718, 6298194, 6698142, 7952264, 2859570, 5717238, 3984784, 2811944, 401776, 7240314, 509856, 9187692, 8175520, 9672594, 4277618, 5486494, 1101646, 2810449, 2224450, 1122702, 2565452, 3492498, 7198288, 1946813] 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0'

In [33]:
a = pd.DataFrame({'A': [[1,2,3], [0, 0, 0], [-1,-2,-3]], 
                  'B': [np.array([1,2,3]), [0, 0, 0], [-1,-2,-3]]})
a.to_csv('./dummy.csv')

In [34]:
pd.read_csv('./dummy.csv')

   Unnamed: 0             A             B
0           0     [1, 2, 3]       [1 2 3]
1           1     [0, 0, 0]     [0, 0, 0]
2           2  [-1, -2, -3]  [-1, -2, -3]

In [4]:
train = load_data('train', nrows=10000)

[05-31 07:42:17 - utils-108 - load_data - INFO] Loading train using 10,000 rows (9,973 trimmed) which is 0.06% out of total train data

In [5]:
train.head()

,user_id,session_id,timestamp,step,action_type,reference,platform,city,device,current_filters,impressions,prices
0,00RL8Z82B2Z1,aff3928535f48,1541037460,1,search for poi,Newtown,AU,"Sydney, Australia",mobile,NaN,NaN,NaN
1,00RL8Z82B2Z1,aff3928535f48,1541037522,2,interaction item image,666856,AU,"Sydney, Australia",mobile,NaN,NaN,NaN
2,00RL8Z82B2Z1,aff3928535f48,1541037522,3,interaction item image,666856,AU,"Sydney, Australia",mobile,NaN,NaN,NaN
3,00RL8Z82B2Z1,aff3928535f48,1541037532,4,interaction item image,666856,AU,"Sydney, Australia",mobile,NaN,NaN,NaN
4,00RL8Z82B2Z1,aff3928535f48,1541037532,5,interaction item image,109038,AU,"Sydney, Australia",mobile,NaN,NaN,NaN

In [8]:
train[train.reference.str.contains(r'[^\d]+')]

,user_id,session_id,timestamp,step,action_type,reference,platform,city,device,current_filters,impressions,prices
0,00RL8Z82B2Z1,aff3928535f48,1541037460,1,search for poi,Newtown,AU,"Sydney, Australia",mobile,NaN,NaN,NaN
14,00RL8Z82B2Z1,aff3928535f48,1541038469,15,search for poi,Surry Hills,AU,"Sydney, Australia",mobile,NaN,NaN,NaN
116,03K8AXBL4BX2,ec139e10b9238,1541100038,1,search for destination,"London, United Kingdom",UK,"London, United Kingdom",desktop,NaN,NaN,NaN
117,03K8AXBL4BX2,ec139e10b9238,1541100132,2,search for poi,Covent Garden,UK,"London, United Kingdom",desktop,NaN,NaN,NaN
118,03K8AXBL4BX2,ec139e10b9238,1541100193,3,search for poi,Oxford Street,UK,"London, United Kingdom",desktop,NaN,NaN,NaN
123,03P4VFKK12UO,325fafb5fa450,1541107285,1,search for destination,"Bakersfield, USA",US,"Bakersfield, USA",desktop,NaN,NaN,NaN
124,03P4VFKK12UO,325fafb5fa450,1541107286,2,search for destination,"Bakersfield, USA",US,"Bakersfield, USA",desktop,NaN,NaN,NaN
125,03P4VFKK12UO,325fafb5fa450,1541107336,3,filter selection,Very Good Rating,US,"Bakersfield, USA",desktop,Very Good Rating,NaN,NaN
126,03P4VFKK12UO,325fafb5fa450,1541107366,4,filter selection,Hostal (ES),US,"Bakersfield, USA",desktop,Very Good Rating|5 Star|4 Star|Hotel|Motel|Res...,NaN,NaN
127,03P4VFKK12UO,325fafb5fa450,1541107366,5,filter selection,Hotel,US,"Bakersfield, USA",desktop,Very Good Rating|5 Star|4 Star|Hotel|Motel|Res...,NaN,NaN
128,03P4VFKK12UO,325fafb5fa450,1541107366,6,filter selection,Motel,US,"Bakersfield, USA",desktop,Very Good Rating|5 Star|4 Star|Hotel|Motel|Res...,NaN,NaN
129,03P4VFKK12UO,325fafb5fa450,1541107366,7,filter selection,Resort,US,"Bakersfield, USA",desktop,Very Good Rating|5 Star|4 Star|Hotel|Motel|Res...,NaN,NaN
130,03P4VFKK12UO,325fafb5fa450,1541107366,8,filter selection,4 Star,US,"Bakersfield, USA",desktop,Very Good Rating|5 Star|4 Star|Hotel|Motel|Res...,NaN,NaN
131,03P4VFKK12UO,325fafb5fa450,1541107366,9,filter selection,5 Star,US,"Bakersfield, USA",desktop,Very Good Rating|5 Star|4 Star|Hotel|Motel|Res...,NaN,NaN
132,03P4VFKK12UO,325fafb5fa450,1541107368,10,filter selection,Hostal (ES),US,"Bakersfield, USA",desktop,Very Good Rating|5 Star|4 Star|Hotel|Motel|Res...,NaN,NaN
133,03P4VFKK12UO,325fafb5fa450,1541107368,11,filter selection,Hotel,US,"Bakersfield, USA",desktop,Very Good Rating|5 Star|4 Star|Hotel|Motel|Res...,NaN,NaN
134,03P4VFKK12UO,325fafb5fa450,1541107368,12,filter selection,Motel,US,"Bakersfield, USA",desktop,Very Good Rating|5 Star|4 Star|Hotel|Motel|Res...,NaN,NaN
135,03P4VFKK12UO,325fafb5fa450,1541107368,13,filter selection,Resort,US,"Bakersfield, USA",desktop,Very Good Rating|5 Star|4 Star|Hotel|Motel|Res...,NaN,NaN
136,03P4VFKK12UO,325fafb5fa450,1541107368,14,filter selection,3 Star,US,"Bakersfield, USA",desktop,Very Good Rating|5 Star|4 Star|Hotel|Motel|Res...,NaN,NaN
137,03P4VFKK12UO,325fafb5fa450,1541107368,15,filter selection,4 Star,US,"Bakersfield, USA",desktop,Very Good Rating|5 Star|4 Star|Hotel|Motel|Res...,NaN,NaN
138,03P4VFKK12UO,325fafb5fa450,1541107368,16,filter selection,5 Star,US,"Bakersfield, USA",desktop,Very Good Rating|5 Star|4 Star|Hotel|Motel|Res...,NaN,NaN
185,06SZHKMYOOI8,4c6062d7cefe4,1541104536,1,change of sort order,interaction sort button,IT,"Bolzano, Italy",mobile,NaN,NaN,NaN
186,06SZHKMYOOI8,4c6062d7cefe4,1541104539,2,change of sort order,price and recommended,IT,"Bolzano, Italy",mobile,NaN,NaN,NaN
187,06SZHKMYOOI8,4c6062d7cefe4,1541104539,3,filter selection,Best Value,IT,"Bolzano, Italy",mobile,Best Value,NaN,NaN
231,0FXZGX34RQMS,dbe408c81daf3,1541040524,1,search for destination,"Panama City, Panama",US,"Panama City, Panama",tablet,NaN,NaN,NaN
238,0FZ7FKT6CB3D,698c0975e6ffe,1541093620,2,search for destination,"Centre, USA",FR,"Centre, USA",mobile,NaN,NaN,NaN
256,0K009FGORI30,b1eabf1f2e155,1541075782,1,search for destination,"São Paulo, Brazil",BR,"São Paulo, Brazil",desktop,NaN,NaN,NaN
257,0K009FGORI30,b1eabf1f2e155,1541075784,2,search for destination,"São Paulo, Brazil",BR,"São Paulo, Brazil",desktop,NaN,NaN,NaN
258,0K009FGORI30,b1eabf1f2e155,1541075804,3,change of sort order,interaction sort button,BR,"São Paulo, Brazil",desktop,NaN,NaN,NaN
276,0KCQVHPEIWT0,e665b2c1e8040,1541094824,15,filter selection,Free WiFi (Combined),BR,"Curitiba, Brazil",mobile,Free WiFi (Combined),NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...
9903,OL85SEDPCGXX,debcab74c956b,1541040719,2,search for poi,Shirahama hot spring,JP,"Shirahama, Japan",desktop,NaN,NaN,NaN
9907,OPNBI5Y93V7D,03e049af077da,1541035480,1,search for destination,"Bengaluru, India",IN,"Bengaluru, India",mobile,NaN,NaN,NaN
9908,OPNBI5Y93V7D,03e049af077da,1541035511,2,search for destination,"Puri, India",IN,"Puri, India",mobile,NaN,NaN,NaN
9913,OXETEUYCVKV7,32c154e861bf4,1541069910,1,filter selection,Good Rating,DE,"New York, USA",desktop,Good Rating,NaN,NaN
9914,OXETEUYCVKV7,32c154e861bf4,1541069920,2,filter selection,Very Good Rating,DE,"New York, USA",desktop,Very Good Rating,NaN,NaN
9925,P3F7LVYNZMRE,b3e4abbf20053,1541101926,1,search for destination,"Paris, France",US,"Paris, France",desktop,NaN,NaN,NaN
9926,P3F7LVYNZMRE,b3e4abbf20053,1541102134,2,change of sort order,interaction sort button,US,"Paris, France",desktop,NaN,NaN,NaN
9927,P3F7LVYNZMRE,b3e4abbf20053,1541102139,3,change of sort order,rating only,US,"Paris, France",desktop,NaN,NaN,NaN
9928,P3F7LVYNZMRE,b3e4abbf20053,1541102139,4,filter selection,Sort By Rating,US,"Paris, France",desktop,Sort By Rating,NaN,NaN
9938,P3F7LVYNZMRE,b3e4abbf20053,1541103167,14,search for poi,6th district Saint-Germain-des-Prés,US,"Paris, France",desktop,Sort By Rating,NaN,NaN
9940,P3F7LVYNZMRE,b3e4abbf20053,1541103207,16,change of sort order,interaction sort button,US,"Paris, France",desktop,NaN,NaN,NaN
9941,P3F7LVYNZMRE,b3e4abbf20053,1541103208,17,change of sort order,price only,US,"Paris, France",desktop,NaN,NaN,NaN
9942,P3F7LVYNZMRE,b3e4abbf20053,1541103208,18,filter selection,Sort by Price,US,"Paris, France",desktop,Sort by Price,NaN,NaN
9943,P3F7LVYNZMRE,b3e4abbf20053,1541103227,19,change of sort order,interaction sort button,US,"Paris, France",desktop,NaN,NaN,NaN
9944,P3F7LVYNZMRE,b3e4abbf20053,1541103228,20,change of sort order,price and recommended,US,"Paris, France",desktop,NaN,NaN,NaN
9945,P3F7LVYNZMRE,b3e4abbf20053,1541103228,21,filter selection,Best Value,US,"Paris, France",desktop,Best Value,NaN,NaN
9949,P3F7LVYNZMRE,b3e4abbf20053,1541103732,25,search for poi,16th Arrondissement de Passy,US,"Paris, France",desktop,Best Value,NaN,NaN
9951,P3F7LVYNZMRE,b3e4abbf20053,1541103842,27,search for poi,Jardin du Luxembourg,US,"Paris, France",desktop,Best Value,NaN,NaN
9952,P3F7LVYNZMRE,b3e4abbf20053,1541103852,28,change of sort order,interaction sort button,US,"Paris, France",desktop,NaN,NaN,NaN
9953,P3F7LVYNZMRE,b3e4abbf20053,1541103855,29,change of sort order,rating and recommended,US,"Paris, France",desktop,NaN,NaN,NaN
9954,P3F7LVYNZMRE,b3e4abbf20053,1541103855,30,filter selection,Focus on Rating,US,"Paris, France",desktop,Focus on Rating,NaN,NaN
9958,P3F7LVYNZMRE,b3e4abbf20053,1541103974,34,search for poi,6th district Saint-Germain-des-Prés,US,"Paris, France",desktop,Focus on Rating,NaN,NaN
9960,P3F7LVYNZMRE,b3e4abbf20053,1541104004,36,filter selection,Excellent Rating,US,"Paris, France",desktop,Focus on Rating|Excellent Rating,NaN,NaN
9962,P3F7LVYNZMRE,b3e4abbf20053,1541104151,38,filter selection,Hostal (ES),US,"Paris, France",desktop,Focus on Rating|Excellent Rating|5 Star|4 Star...,NaN,NaN
9963,P3F7LVYNZMRE,b3e4abbf20053,1541104151,39,filter selection,Hotel,US,"Paris, France",desktop,Focus on Rating|Excellent Rating|5 Star|4 Star...,NaN,NaN
9964,P3F7LVYNZMRE,b3e4abbf20053,1541104151,40,filter selection,Motel,US,"Paris, France",desktop,Focus on Rating|Excellent Rating|5 Star|4 Star...,NaN,NaN
9965,P3F7LVYNZMRE,b3e4abbf20053,1541104151,41,filter selection,Resort,US,"Paris, France",desktop,Focus on Rating|Excellent Rating|5 Star|4 Star...,NaN,NaN
9966,P3F7LVYNZMRE,b3e4abbf20053,1541104151,42,filter selection,4 Star,US,"Paris, France",desktop,Focus on Rating|Excellent Rating|5 Star|4 Star...,NaN,NaN
9967,P3F7LVYNZMRE,b3e4abbf20053,1541104151,43,filter selection,5 Star,US,"Paris, France",desktop,Focus on Rating|Excellent Rating|5 Star|4 Star...,NaN,NaN
9970,P3F7LVYNZMRE,b3e4abbf20053,1541104329,46,search for poi,1st district Louvre,US,"Paris, France",desktop,Focus on Rating|Excellent Rating|5 Star|4 Star...,NaN,NaN

In [11]:
non_int

,user_id,session_id,timestamp,step,action_type,reference,platform,city,device,current_filters,impressions,prices
0,00RL8Z82B2Z1,aff3928535f48,1541037460,1,search for poi,Newtown,AU,"Sydney, Australia",mobile,NaN,NaN,NaN
14,00RL8Z82B2Z1,aff3928535f48,1541038469,15,search for poi,Surry Hills,AU,"Sydney, Australia",mobile,NaN,NaN,NaN
116,03K8AXBL4BX2,ec139e10b9238,1541100038,1,search for destination,"London, United Kingdom",UK,"London, United Kingdom",desktop,NaN,NaN,NaN
117,03K8AXBL4BX2,ec139e10b9238,1541100132,2,search for poi,Covent Garden,UK,"London, United Kingdom",desktop,NaN,NaN,NaN
118,03K8AXBL4BX2,ec139e10b9238,1541100193,3,search for poi,Oxford Street,UK,"London, United Kingdom",desktop,NaN,NaN,NaN
123,03P4VFKK12UO,325fafb5fa450,1541107285,1,search for destination,"Bakersfield, USA",US,"Bakersfield, USA",desktop,NaN,NaN,NaN
124,03P4VFKK12UO,325fafb5fa450,1541107286,2,search for destination,"Bakersfield, USA",US,"Bakersfield, USA",desktop,NaN,NaN,NaN
125,03P4VFKK12UO,325fafb5fa450,1541107336,3,filter selection,Very Good Rating,US,"Bakersfield, USA",desktop,Very Good Rating,NaN,NaN
126,03P4VFKK12UO,325fafb5fa450,1541107366,4,filter selection,Hostal (ES),US,"Bakersfield, USA",desktop,Very Good Rating|5 Star|4 Star|Hotel|Motel|Res...,NaN,NaN
127,03P4VFKK12UO,325fafb5fa450,1541107366,5,filter selection,Hotel,US,"Bakersfield, USA",desktop,Very Good Rating|5 Star|4 Star|Hotel|Motel|Res...,NaN,NaN
128,03P4VFKK12UO,325fafb5fa450,1541107366,6,filter selection,Motel,US,"Bakersfield, USA",desktop,Very Good Rating|5 Star|4 Star|Hotel|Motel|Res...,NaN,NaN
129,03P4VFKK12UO,325fafb5fa450,1541107366,7,filter selection,Resort,US,"Bakersfield, USA",desktop,Very Good Rating|5 Star|4 Star|Hotel|Motel|Res...,NaN,NaN
130,03P4VFKK12UO,325fafb5fa450,1541107366,8,filter selection,4 Star,US,"Bakersfield, USA",desktop,Very Good Rating|5 Star|4 Star|Hotel|Motel|Res...,NaN,NaN
131,03P4VFKK12UO,325fafb5fa450,1541107366,9,filter selection,5 Star,US,"Bakersfield, USA",desktop,Very Good Rating|5 Star|4 Star|Hotel|Motel|Res...,NaN,NaN
132,03P4VFKK12UO,325fafb5fa450,1541107368,10,filter selection,Hostal (ES),US,"Bakersfield, USA",desktop,Very Good Rating|5 Star|4 Star|Hotel|Motel|Res...,NaN,NaN
133,03P4VFKK12UO,325fafb5fa450,1541107368,11,filter selection,Hotel,US,"Bakersfield, USA",desktop,Very Good Rating|5 Star|4 Star|Hotel|Motel|Res...,NaN,NaN
134,03P4VFKK12UO,325fafb5fa450,1541107368,12,filter selection,Motel,US,"Bakersfield, USA",desktop,Very Good Rating|5 Star|4 Star|Hotel|Motel|Res...,NaN,NaN
135,03P4VFKK12UO,325fafb5fa450,1541107368,13,filter selection,Resort,US,"Bakersfield, USA",desktop,Very Good Rating|5 Star|4 Star|Hotel|Motel|Res...,NaN,NaN
136,03P4VFKK12UO,325fafb5fa450,1541107368,14,filter selection,3 Star,US,"Bakersfield, USA",desktop,Very Good Rating|5 Star|4 Star|Hotel|Motel|Res...,NaN,NaN
137,03P4VFKK12UO,325fafb5fa450,1541107368,15,filter selection,4 Star,US,"Bakersfield, USA",desktop,Very Good Rating|5 Star|4 Star|Hotel|Motel|Res...,NaN,NaN
138,03P4VFKK12UO,325fafb5fa450,1541107368,16,filter selection,5 Star,US,"Bakersfield, USA",desktop,Very Good Rating|5 Star|4 Star|Hotel|Motel|Res...,NaN,NaN
185,06SZHKMYOOI8,4c6062d7cefe4,1541104536,1,change of sort order,interaction sort button,IT,"Bolzano, Italy",mobile,NaN,NaN,NaN
186,06SZHKMYOOI8,4c6062d7cefe4,1541104539,2,change of sort order,price and recommended,IT,"Bolzano, Italy",mobile,NaN,NaN,NaN
187,06SZHKMYOOI8,4c6062d7cefe4,1541104539,3,filter selection,Best Value,IT,"Bolzano, Italy",mobile,Best Value,NaN,NaN
231,0FXZGX34RQMS,dbe408c81daf3,1541040524,1,search for destination,"Panama City, Panama",US,"Panama City, Panama",tablet,NaN,NaN,NaN
238,0FZ7FKT6CB3D,698c0975e6ffe,1541093620,2,search for destination,"Centre, USA",FR,"Centre, USA",mobile,NaN,NaN,NaN
256,0K009FGORI30,b1eabf1f2e155,1541075782,1,search for destination,"São Paulo, Brazil",BR,"São Paulo, Brazil",desktop,NaN,NaN,NaN
257,0K009FGORI30,b1eabf1f2e155,1541075784,2,search for destination,"São Paulo, Brazil",BR,"São Paulo, Brazil",desktop,NaN,NaN,NaN
258,0K009FGORI30,b1eabf1f2e155,1541075804,3,change of sort order,interaction sort button,BR,"São Paulo, Brazil",desktop,NaN,NaN,NaN
276,0KCQVHPEIWT0,e665b2c1e8040,1541094824,15,filter selection,Free WiFi (Combined),BR,"Curitiba, Brazil",mobile,Free WiFi (Combined),NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...
9903,OL85SEDPCGXX,debcab74c956b,1541040719,2,search for poi,Shirahama hot spring,JP,"Shirahama, Japan",desktop,NaN,NaN,NaN
9907,OPNBI5Y93V7D,03e049af077da,1541035480,1,search for destination,"Bengaluru, India",IN,"Bengaluru, India",mobile,NaN,NaN,NaN
9908,OPNBI5Y93V7D,03e049af077da,1541035511,2,search for destination,"Puri, India",IN,"Puri, India",mobile,NaN,NaN,NaN
9913,OXETEUYCVKV7,32c154e861bf4,1541069910,1,filter selection,Good Rating,DE,"New York, USA",desktop,Good Rating,NaN,NaN
9914,OXETEUYCVKV7,32c154e861bf4,1541069920,2,filter selection,Very Good Rating,DE,"New York, USA",desktop,Very Good Rating,NaN,NaN
9925,P3F7LVYNZMRE,b3e4abbf20053,1541101926,1,search for destination,"Paris, France",US,"Paris, France",desktop,NaN,NaN,NaN
9926,P3F7LVYNZMRE,b3e4abbf20053,1541102134,2,change of sort order,interaction sort button,US,"Paris, France",desktop,NaN,NaN,NaN
9927,P3F7LVYNZMRE,b3e4abbf20053,1541102139,3,change of sort order,rating only,US,"Paris, France",desktop,NaN,NaN,NaN
9928,P3F7LVYNZMRE,b3e4abbf20053,1541102139,4,filter selection,Sort By Rating,US,"Paris, France",desktop,Sort By Rating,NaN,NaN
9938,P3F7LVYNZMRE,b3e4abbf20053,1541103167,14,search for poi,6th district Saint-Germain-des-Prés,US,"Paris, France",desktop,Sort By Rating,NaN,NaN
9940,P3F7LVYNZMRE,b3e4abbf20053,1541103207,16,change of sort order,interaction sort button,US,"Paris, France",desktop,NaN,NaN,NaN
9941,P3F7LVYNZMRE,b3e4abbf20053,1541103208,17,change of sort order,price only,US,"Paris, France",desktop,NaN,NaN,NaN
9942,P3F7LVYNZMRE,b3e4abbf20053,1541103208,18,filter selection,Sort by Price,US,"Paris, France",desktop,Sort by Price,NaN,NaN
9943,P3F7LVYNZMRE,b3e4abbf20053,1541103227,19,change of sort order,interaction sort button,US,"Paris, France",desktop,NaN,NaN,NaN
9944,P3F7LVYNZMRE,b3e4abbf20053,1541103228,20,change of sort order,price and recommended,US,"Paris, France",desktop,NaN,NaN,NaN
9945,P3F7LVYNZMRE,b3e4abbf20053,1541103228,21,filter selection,Best Value,US,"Paris, France",desktop,Best Value,NaN,NaN
9949,P3F7LVYNZMRE,b3e4abbf20053,1541103732,25,search for poi,16th Arrondissement de Passy,US,"Paris, France",desktop,Best Value,NaN,NaN
9951,P3F7LVYNZMRE,b3e4abbf20053,1541103842,27,search for poi,Jardin du Luxembourg,US,"Paris, France",desktop,Best Value,NaN,NaN
9952,P3F7LVYNZMRE,b3e4abbf20053,1541103852,28,change of sort order,interaction sort button,US,"Paris, France",desktop,NaN,NaN,NaN
9953,P3F7LVYNZMRE,b3e4abbf20053,1541103855,29,change of sort order,rating and recommended,US,"Paris, France",desktop,NaN,NaN,NaN
9954,P3F7LVYNZMRE,b3e4abbf20053,1541103855,30,filter selection,Focus on Rating,US,"Paris, France",desktop,Focus on Rating,NaN,NaN
9958,P3F7LVYNZMRE,b3e4abbf20053,1541103974,34,search for poi,6th district Saint-Germain-des-Prés,US,"Paris, France",desktop,Focus on Rating,NaN,NaN
9960,P3F7LVYNZMRE,b3e4abbf20053,1541104004,36,filter selection,Excellent Rating,US,"Paris, France",desktop,Focus on Rating|Excellent Rating,NaN,NaN
9962,P3F7LVYNZMRE,b3e4abbf20053,1541104151,38,filter selection,Hostal (ES),US,"Paris, France",desktop,Focus on Rating|Excellent Rating|5 Star|4 Star...,NaN,NaN
9963,P3F7LVYNZMRE,b3e4abbf20053,1541104151,39,filter selection,Hotel,US,"Paris, France",desktop,Focus on Rating|Excellent Rating|5 Star|4 Star...,NaN,NaN
9964,P3F7LVYNZMRE,b3e4abbf20053,1541104151,40,filter selection,Motel,US,"Paris, France",desktop,Focus on Rating|Excellent Rating|5 Star|4 Star...,NaN,NaN
9965,P3F7LVYNZMRE,b3e4abbf20053,1541104151,41,filter selection,Resort,US,"Paris, France",desktop,Focus on Rating|Excellent Rating|5 Star|4 Star...,NaN,NaN
9966,P3F7LVYNZMRE,b3e4abbf20053,1541104151,42,filter selection,4 Star,US,"Paris, France",desktop,Focus on Rating|Excellent Rating|5 Star|4 Star...,NaN,NaN
9967,P3F7LVYNZMRE,b3e4abbf20053,1541104151,43,filter selection,5 Star,US,"Paris, France",desktop,Focus on Rating|Excellent Rating|5 Star|4 Star...,NaN,NaN
9970,P3F7LVYNZMRE,b3e4abbf20053,1541104329,46,search for poi,1st district Louvre,US,"Paris, France",desktop,Focus on Rating|Excellent Rating|5 Star|4 Star...,NaN,NaN

In [12]:
non_int = train['reference'].str.contains(r'[^\d]+')
train.loc[non_int, 'reference'] = '-1'
train['reference'] = train['reference'].astype(int)