In [1]:
import os
import pandas as pd
import numpy as np
from utils import load_data, check_dir, get_logger

In [58]:
# test action_encoding
from manual_encoding import action_encoding

nrows = 1000000
train_small = load_data('train', nrows=nrows)
print(train_small.session_id.nunique())
train_small.head()

57238

,user_id,session_id,timestamp,step,action_type,reference,platform,city,device,current_filters,impressions,prices
0,00RL8Z82B2Z1,aff3928535f48,1541037460,1,search for poi,Newtown,AU,"Sydney, Australia",mobile,NaN,NaN,NaN
1,00RL8Z82B2Z1,aff3928535f48,1541037522,2,interaction item image,666856,AU,"Sydney, Australia",mobile,NaN,NaN,NaN
2,00RL8Z82B2Z1,aff3928535f48,1541037522,3,interaction item image,666856,AU,"Sydney, Australia",mobile,NaN,NaN,NaN
3,00RL8Z82B2Z1,aff3928535f48,1541037532,4,interaction item image,666856,AU,"Sydney, Australia",mobile,NaN,NaN,NaN
4,00RL8Z82B2Z1,aff3928535f48,1541037532,5,interaction item image,109038,AU,"Sydney, Australia",mobile,NaN,NaN,NaN

In [61]:
# train_small.groupby(['session_id', 'timestamp'])['action_type'].nunique()

In [3]:
ae_df = action_encoding(nrows, per_session=False, save=False, recompute=True)

[04-27 21:29:44 - manual_encoding - action_encoding - INFO] The unique actions to encode are:
['interaction item image' 'clickout item' 'interaction item info']
[04-27 21:29:44 - manual_encoding - action_encoding - INFO] Smooth with means weights: [5, 5, 5]
[04-27 21:29:44 - manual_encoding - action_encoding - INFO] smooth encoding: interaction item image
[04-27 21:29:44 - manual_encoding - action_encoding - INFO] smooth encoding: clickout item
[04-27 21:29:44 - manual_encoding - action_encoding - INFO] smooth encoding: interaction item info

In [4]:
ae_df

   reference  interaction item image  clickout item  interaction item info
0     109038                0.837607       0.119658               0.042735
1     666856                0.888889       0.055556               0.055556
2    1257342                0.648148       0.259259               0.092593
3    3377332                0.654321       0.061728               0.283951

In [5]:
# compare
# train_small

In [56]:
temp = train_small[~train_small.reference.str.contains('[a-zA-Z]')].reset_index(drop=True)
temp['reference'] = temp['reference'].astype(int)

In [57]:
temp

,user_id,session_id,timestamp,step,action_type,reference,platform,city,device,current_filters,impressions,prices
0,00RL8Z82B2Z1,aff3928535f48,1541037522,2,interaction item image,666856,AU,"Sydney, Australia",mobile,NaN,NaN,NaN
1,00RL8Z82B2Z1,aff3928535f48,1541037522,3,interaction item image,666856,AU,"Sydney, Australia",mobile,NaN,NaN,NaN
2,00RL8Z82B2Z1,aff3928535f48,1541037532,4,interaction item image,666856,AU,"Sydney, Australia",mobile,NaN,NaN,NaN
3,00RL8Z82B2Z1,aff3928535f48,1541037532,5,interaction item image,109038,AU,"Sydney, Australia",mobile,NaN,NaN,NaN
4,00RL8Z82B2Z1,aff3928535f48,1541037532,6,interaction item image,666856,AU,"Sydney, Australia",mobile,NaN,NaN,NaN
5,00RL8Z82B2Z1,aff3928535f48,1541037532,7,interaction item image,109038,AU,"Sydney, Australia",mobile,NaN,NaN,NaN
6,00RL8Z82B2Z1,aff3928535f48,1541037532,8,interaction item image,666856,AU,"Sydney, Australia",mobile,NaN,NaN,NaN
7,00RL8Z82B2Z1,aff3928535f48,1541037542,9,interaction item image,109038,AU,"Sydney, Australia",mobile,NaN,NaN,NaN
8,00RL8Z82B2Z1,aff3928535f48,1541037542,10,interaction item image,109038,AU,"Sydney, Australia",mobile,NaN,NaN,NaN
9,00RL8Z82B2Z1,aff3928535f48,1541037542,11,interaction item image,109038,AU,"Sydney, Australia",mobile,NaN,NaN,NaN
10,00RL8Z82B2Z1,aff3928535f48,1541037542,12,interaction item image,109038,AU,"Sydney, Australia",mobile,NaN,NaN,NaN
11,00RL8Z82B2Z1,aff3928535f48,1541037542,13,interaction item image,109038,AU,"Sydney, Australia",mobile,NaN,NaN,NaN
12,00RL8Z82B2Z1,aff3928535f48,1541037543,14,clickout item,109038,AU,"Sydney, Australia",mobile,NaN,3400638|1253714|3367857|5100540|1088584|666916...,95|66|501|112|95|100|101|72|82|56|56|143|70|25...
13,00RL8Z82B2Z1,aff3928535f48,1541038485,16,clickout item,1257342,AU,"Sydney, Australia",mobile,NaN,55109|129343|54824|2297972|109014|1257342|1031...,162|25|150|143|101|49|118|131|18|100|101|143|5...
14,02HGRBA06ODU,fa3a53156ae5c,1541030832,1,interaction item info,3377332,BR,"Ubatuba, Brazil",mobile,NaN,NaN,NaN
15,02HGRBA06ODU,fa3a53156ae5c,1541030843,2,interaction item image,3377332,BR,"Ubatuba, Brazil",mobile,NaN,NaN,NaN
16,02HGRBA06ODU,fa3a53156ae5c,1541030843,3,interaction item image,3377332,BR,"Ubatuba, Brazil",mobile,NaN,NaN,NaN
17,02HGRBA06ODU,fa3a53156ae5c,1541030852,4,interaction item info,3377332,BR,"Ubatuba, Brazil",mobile,NaN,NaN,NaN

In [55]:
from clean_session import remove_duplicates
remove_duplicates(temp)

[04-27 22:12:41 - utils - remove_duplicates - INFO] Before dropping duplicates df shape: (18, 12)
[04-27 22:12:41 - utils - remove_duplicates - INFO] After dropping duplicates df shape: (9, 12)

,user_id,session_id,timestamp,step,action_type,reference,platform,city,device,current_filters,impressions,prices
0,00RL8Z82B2Z1,aff3928535f48,1541037522,3,interaction item image,666856,AU,"Sydney, Australia",mobile,NaN,NaN,NaN
1,00RL8Z82B2Z1,aff3928535f48,1541037532,7,interaction item image,109038,AU,"Sydney, Australia",mobile,NaN,NaN,NaN
2,00RL8Z82B2Z1,aff3928535f48,1541037532,8,interaction item image,666856,AU,"Sydney, Australia",mobile,NaN,NaN,NaN
3,00RL8Z82B2Z1,aff3928535f48,1541037542,13,interaction item image,109038,AU,"Sydney, Australia",mobile,NaN,NaN,NaN
4,00RL8Z82B2Z1,aff3928535f48,1541037543,14,clickout item,109038,AU,"Sydney, Australia",mobile,NaN,3400638|1253714|3367857|5100540|1088584|666916...,95|66|501|112|95|100|101|72|82|56|56|143|70|25...
5,00RL8Z82B2Z1,aff3928535f48,1541038485,16,clickout item,1257342,AU,"Sydney, Australia",mobile,NaN,55109|129343|54824|2297972|109014|1257342|1031...,162|25|150|143|101|49|118|131|18|100|101|143|5...
6,02HGRBA06ODU,fa3a53156ae5c,1541030832,1,interaction item info,3377332,BR,"Ubatuba, Brazil",mobile,NaN,NaN,NaN
7,02HGRBA06ODU,fa3a53156ae5c,1541030843,3,interaction item image,3377332,BR,"Ubatuba, Brazil",mobile,NaN,NaN,NaN
8,02HGRBA06ODU,fa3a53156ae5c,1541030852,4,interaction item info,3377332,BR,"Ubatuba, Brazil",mobile,NaN,NaN,NaN

In [31]:
gm = temp.action_type.value_counts()/temp.shape[0]
gm

interaction item image    0.777778
interaction item info     0.111111
clickout item             0.111111
Name: action_type, dtype: float64

In [30]:
temp.groupby('reference')['action_type'].value_counts()

reference  action_type
109038     interaction item image    7
           clickout item             1
666856     interaction item image    5
1257342    clickout item             1
3377332    interaction item image    2
           interaction item info     2
Name: action_type, dtype: int64

In [53]:
(8*(1/8) + 5 *gm['clickout item'])/(8+5)

0.11965811965811966

In [54]:
(4*(0) + 5 *gm['clickout item'])/(4+5)

0.0617283950617284

In [37]:
# get all the unique actions
unique_actions = temp['action_type'].unique()
# encode them in one-hot
action2natural = {v: k for k, v in enumerate(unique_actions)}
action_names = list(action2natural.keys())
actions = temp['action_type'].map(action2natural).values
# create the ohe df
actions_ohe = pd.DataFrame(np.eye(len(unique_actions), dtype=int)[actions], columns=action_names)

In [43]:
actions_ohe.head()

   interaction item image  clickout item  interaction item info
0                       1              0                      0
1                       1              0                      0
2                       1              0                      0
3                       1              0                      0
4                       1              0                      0

In [40]:
# temp

In [41]:
ref_act = pd.concat([temp, actions_ohe], axis=1)

In [42]:
ref_act['interaction item image'].mean()

0.7777777777777778

In [45]:
 # Compute the number of values and the mean of each group
agg = ref_act.groupby('reference')['interaction item image'].agg(['count', 'mean'])

In [50]:
temp.groupby('reference')['action_type'].value_counts()

reference  action_type
109038     interaction item image    7
           clickout item             1
666856     interaction item image    5
1257342    clickout item             1
3377332    interaction item image    2
           interaction item info     2
Name: action_type, dtype: int64

In [46]:
agg['count']

reference
109038     8
666856     5
1257342    1
3377332    4
Name: count, dtype: int64

In [47]:
agg['mean']

reference
109038     0.875
666856     1.000
1257342    0.000
3377332    0.500
Name: mean, dtype: float64

In [48]:
7/8

0.875

In [33]:
ae_df

   reference  interaction item image  clickout item  interaction item info
0     109038                0.837607       0.119658               0.042735
1     666856                0.888889       0.055556               0.055556
2    1257342                0.648148       0.259259               0.092593
3    3377332                0.654321       0.061728               0.283951

In [8]:
temp.action_type.unique()

array(['interaction item image', 'clickout item', 'interaction item info'],
      dtype=object)

In [9]:
temp.reference.unique()

array([ 666856,  109038, 1257342, 3377332])

In [10]:
ae_df

   reference  interaction item image  clickout item  interaction item info
0     109038                0.837607       0.119658               0.042735
1     666856                0.888889       0.055556               0.055556
2    1257342                0.648148       0.259259               0.092593
3    3377332                0.654321       0.061728               0.283951

In [23]:
# check the encoding values
image_global_mean = (temp.action_type=='interaction item image').sum()/temp.shape[0]
click_global_mean = (temp.action_type=='clickout item').sum()/temp.shape[0]
inter_global_mean = (temp.action_type=='interaction item info').sum()/temp.shape[0]

In [12]:
image_global_mean

0.7777777777777778

In [20]:
click_global_mean

0.1111111111111111

In [13]:
M = [5] * len(temp.action_type.unique())
M

[5, 5, 5]

In [14]:
demo = temp[temp.reference==109038]

In [15]:
demo.shape

(8, 12)

In [16]:
demo.action_type.value_counts()

interaction item image    7
clickout item             1
Name: action_type, dtype: int64

In [17]:
smoothed = (7*(7/8) + 5*image_global_mean)/(7+5)
smoothed

0.8344907407407408

In [18]:
# temp.groupby(['session_id', 'reference', 'action_type']).sum().reset_index()
ae_df

   reference  interaction item image  clickout item  interaction item info
0     109038                0.837607       0.119658               0.042735
1     666856                0.888889       0.055556               0.055556
2    1257342                0.648148       0.259259               0.092593
3    3377332                0.654321       0.061728               0.283951

In [22]:
smoothed = (1*(1/8) + 5*click_global_mean)/(1+5)
smoothed

0.11342592592592593

In [24]:
smoothed = (0 + 5*inter_global_mean)/5
smoothed

0.11111111111111112