In [2]:
import multiprocessing as mp
import time
import os
import gc

import pandas as pd
import numpy as np
from tqdm import tqdm
from sklearn.metrics import log_loss, auc, roc_curve, f1_score, average_precision_score, mean_squared_error
from sklearn.model_selection import StratifiedKFold
import catboost as cat

from reduce_memory import reduce_numeric_mem_usage, reduce_object_mem_usage

%matplotlib inline
%load_ext autoreload
%autoreload 2

In [3]:
xtrain = pd.read_hdf('./data/train.h5', 'xtrain')

In [8]:
xval = pd.read_hdf('./data/train.h5', 'xval')

In [1]:
!ls -lthr

total 18126752
-rw-r--r--  1 sam_dessa  staff    73K 15 Mar 15:08 data_exploring.ipynb
-rw-r--r--  1 sam_dessa  staff   4.4K 15 Mar 15:10 reduce_memory.py
drwxr-xr-x  3 sam_dessa  staff    96B 16 Mar 17:36 __pycache__
-rw-r--r--  1 sam_dessa  staff    76M 16 Mar 18:12 session_fts.csv
-rw-r--r--  1 sam_dessa  staff   3.3G 17 Mar 11:40 xtrain.csv
-rw-r--r--  1 sam_dessa  staff   5.2G 17 Mar 11:47 data.h5
drwxr-xr-x  9 sam_dessa  staff   288B 17 Mar 13:54 catboost_info
-rw-r--r--  1 sam_dessa  staff    40K 18 Mar 21:53 Untitled.ipynb
-rw-r--r--  1 sam_dessa  staff    21K 27 Mar 22:23 test-Copy1.ipynb
drwxr-xr-x  9 sam_dessa  staff   288B 28 Mar 00:55 data
-rw-r--r--  1 sam_dessa  staff    45K 28 Mar 20:07 test.ipynb

In [4]:
xtrain.head()

,item_id,appeared,location,price,rel_price_rank,price_mean,price_median,diff_mean,diff_median,diff_mean_rel,...,action_type_click_rel_pos_avg,city_nunique,city_get_first,platform_get_first,device_get_first,nfilters_mean,nfilters_max,nfilters_min,nfilters_get_last,nimps_max
00000510f1adc,2661832,0,0,46,0.60,27.32,20.0,18.68,26.0,0.406087,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
00000510f1adc,9222426,0,1,26,0.76,27.32,20.0,-1.32,6.0,-0.050769,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
00000510f1adc,7051844,0,2,16,0.48,27.32,20.0,-11.32,-4.0,-0.707500,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
00000510f1adc,4079190,0,3,38,0.20,27.32,20.0,10.68,18.0,0.281053,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
00000510f1adc,5752778,0,4,12,0.36,27.32,20.0,-15.32,-8.0,-1.276667,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [5]:
xtrain.columns

Index(['item_id', 'appeared', 'location', 'price', 'rel_price_rank',
       'price_mean', 'price_median', 'diff_mean', 'diff_median',
       'diff_mean_rel', 'diff_median_rel', 'nprop', 'n_clicks', 'star',
       'good_rating', 'satisfactory_rating', 'excellent_rating', 'p_mean',
       'star_mean', 'gr_mean', 'sr_mean', 'er_mean', 'target', 'session_id',
       'timestamp_ptp', 'timestamp_mean_dwell_time',
       'timestamp_var_dwell_time', 'step_max', 'action_type_nunique',
       'action_type_n_clickouts', 'action_type_click_rel_pos_avg',
       'city_nunique', 'city_get_first', 'platform_get_first',
       'device_get_first', 'nfilters_mean', 'nfilters_max', 'nfilters_min',
       'nfilters_get_last', 'nimps_max'],
      dtype='object')

In [6]:
xtrain.columns[xtrain.dtypes=='O']

Index(['session_id', 'city_get_first', 'platform_get_first',
       'device_get_first'],
      dtype='object')

In [9]:
cat_fts = ['city_get_first', 'platform_get_first', 'device_get_first', 'item_id', 'location']
# convert to categorical
for c in cat_fts:
    print(c)
    maps = np.concatenate([xtrain[c].unique(), xval[c].unique()])
    mapper = dict(zip(maps, np.arange(len(maps), dtype=int)))
    xtrain[c] = xtrain[c].map(mapper)
    xval[c] = xval[c].map(mapper)

city_get_first
platform_get_first
device_get_first
item_id
location

In [10]:
y_trn = xtrain['target']
y_val = xval['target']
del xtrain['target'], xval['target']

In [11]:
xtrain.head()

,item_id,appeared,location,price,rel_price_rank,price_mean,price_median,diff_mean,diff_median,diff_mean_rel,...,action_type_click_rel_pos_avg,city_nunique,city_get_first,platform_get_first,device_get_first,nfilters_mean,nfilters_max,nfilters_min,nfilters_get_last,nimps_max
00000510f1adc,772769,0,25,46,0.60,27.32,20.0,18.68,26.0,0.406087,...,NaN,NaN,1,1,1,NaN,NaN,NaN,NaN,NaN
00000510f1adc,772770,0,26,26,0.76,27.32,20.0,-1.32,6.0,-0.050769,...,NaN,NaN,1,1,1,NaN,NaN,NaN,NaN,NaN
00000510f1adc,772771,0,27,16,0.48,27.32,20.0,-11.32,-4.0,-0.707500,...,NaN,NaN,1,1,1,NaN,NaN,NaN,NaN,NaN
00000510f1adc,772772,0,28,38,0.20,27.32,20.0,10.68,18.0,0.281053,...,NaN,NaN,1,1,1,NaN,NaN,NaN,NaN,NaN
00000510f1adc,772773,0,29,12,0.36,27.32,20.0,-15.32,-8.0,-1.276667,...,NaN,NaN,1,1,1,NaN,NaN,NaN,NaN,NaN

In [ ]:
params = {'iterations': 3000,
          'learning_rate': 0.02,
          'depth': 8}

categorical_ind = [k for k, v in enumerate(xtrain.columns) if v in cat_fts ]

# train model
clf = cat.CatBoostClassifier(**params)
clf.fit(xtrain, y_trn,
        cat_features=categorical_ind,
        eval_set=(xval, y_val),
        early_stopping_rounds=100,
        verbose=100,
        plot=False)
print('Done!')

# saves for each fold
clfs = []
cv_scores = []
val_inds = []

# append model
clfs.append(clf)
# make prediction on validation set
val_pred = clf.predict_proba(xval)[:, 1]
logloss_i = log_loss(y_val, val_pred)
cv_scores.append(logloss_i)
# compute roc auc
fpr, tpr, thresholds = roc_curve(y_val, val_pred, pos_label=1)
auc_i = auc(fpr, tpr)
# compute map
map_i = average_precision_score(y_val, val_pred)
print('logloss={0:.4f} | map={1:.4f} | auc={2:.4f}'.format(logloss_i, map_i, auc_i))

0:	learn: 0.6546968	test: 0.6546966	best: 0.6546966 (0)	total: 7.11s	remaining: 5h 55m 24s

In [ ]:
# compute mean rr
xval['pred'] = val_pred

In [12]:
# xval['pred']

In [13]:
# xtrain[train=='084dbb067c71e']

In [ ]:
def reciprocal_rank(df):
    pred_list = df['pred'].values
    sorted_ind = np.argsort(pred_list)[::-1]
    ranked_items = df['item_id'].iloc[sorted_ind].values
    try:
        target_ind = np.where(df['target'] == 1)[0][0]
        rank = np.where(sorted_ind == target)[0][0]
    except:
        return 0
#     return 1/(rank+1)
    return rank+1

xval['target'] = y_val
# val_rr = xval.groupby('session_id').apply(reciprocal_rank)
val_rr = xval.groupby(level=0).apply(reciprocal_rank)

In [ ]:
# xtrain[cat_fts].nunique()

In [ ]:
val_rr[val_rr!=0].mean()

In [ ]:
val_rr[val_rr!=0].hist(bins=50)

In [ ]:
(1/val_rr[val_rr!=0]).mean()

In [ ]:
(1/val_rr[val_rr!=0]).hist(bins=50)